{% extends "base.html" %}

{% block content %}
<h1>Analyse Evidence</h1>
{% for evidence in evidencelist %}
<div>
    <h2>{{ evidence.question }} ?:</h2>
</div>
<div class="form">
    <form method="POST" action="/analysis">
        <label class="container"><b>Has there been a violation?</b>
            <input type="radio" name="{{evidence.id}}" value="TRUE"> Yes
            <input type="radio" name="{{evidence.id}}" value="FALSE" checked> No
        </label>
        <br><br>
        {% endfor %}
        <h2>Has there been any additional Analysis?</h2>
        <textarea id="ownanalysis" name="addanalysis" rows="4" cols="50">Please enter here.</textarea> <br>
        <label class="container"><b>Has there been a violation?</b>
            <input type="radio" name="own_violation" value="TRUE"> Yes
            <input type="radio" name="own_violation" value="FALSE" checked> No
        </label>
        <br><br>
        <button type="submit" class="btn btn-success">Show Result</button>
    </form>
</div>
<br>

{% endblock %}